@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div>
    <Button Type="primary">Primary</Button>
    <Button>Default</Button>
    <Button Type="dashed">Dashed</Button>
    <Button Type="link">Link</Button>
</div>