@page "/NodeList"
@using Extension
@using Extension.k8s
@if (_nodes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    foreach (var node in _nodes.Items)
    {
        bool isReady=node.Status.Conditions.IsReady();
        var color=isReady?Color.Success:Color.Danger ;
        <Card style="width: 18rem;" Color="color" >
            <CardBody>
                <h5 class="card-title">@node.Metadata.Name
                 @if (isReady)
                                    {
                                        <Tag Icon="fa fa-check-circle" Color="Color.Success">Ready</Tag>
                                    }
                </h5>
                <p class="card-text"> </p>
<GroupBox Title="Pod状态">
        <p>
@for(int i=0;i<110;i++){
<Badge Color="Color.Success" style="padding: 2px;"> <span style="padding: 0 2px;"><i class="fa fa-tv"></i></span>
</Badge>
}
</p>
    </GroupBox>
            </CardBody>
        <CardFooter>
            <Tag Color="Color.Primary">@node.Status.NodeInfo.Architecture</Tag>
            @node.Status.NodeInfo.KubeletVersion @node.Metadata.CreationTimestamp?.AgeFromUtc()
        </CardFooter>
        </Card>
    }
}
