@using k8s.Models
@using BlazorApp.Pages.Common.Html.HTable
@using BlazorApp.Pages.Common.Metadata
@if (Volume.PersistentVolumeClaim != null)
{
    <BadgeRibbon Text="@Volume.Name" Placement="start" Color="#832">
        <TextTemplate>
            <span style="color:#DCDCDC">@Index</span>
            <Icon Type="hdd" Theme="outline"/>
            @Volume.Name
        </TextTemplate>
        <ChildContent>
            <Card Bordered>
                <HTable >
                    <HTr>
                        <HTd>
                            Volume
                            <KubectlExplainButton Field="pod.spec.volumes.persistentVolumeClaim"></KubectlExplainButton>
                        </HTd>
                        <HTd >
                            <RefView Ref="@TransferToRef(Volume)" FullView="true"></RefView>
                        </HTd>
                    </HTr>
                 </HTable>
            </Card>
        </ChildContent>
    </BadgeRibbon>
}


@code {

    [Parameter]
    public V1Volume Volume { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public string Namespace { get; set; }

    private V1ObjectReference TransferToRef(V1Volume volume)
    {
        return new V1ObjectReference()
        {
            Name              = volume.PersistentVolumeClaim.ClaimName,
            Kind              = "PersistentVolumeClaim",
            NamespaceProperty = Namespace
        };
    }

}
