@page "/Pods"
@using k8s.Models
@using Blazor.Pages.Workload
<Card Bordered="false" Hoverable="true">
    <TitleTemplate>
        <SearchToolBar Title="Pods" Count="88" OnNsSelected="OnNsSelectedHandler"></SearchToolBar>
    </TitleTemplate>
    <ChildContent>
        <Body >
        @if (Pods != null)
        {
            <Table @ref="table"
                   TItem="V1Pod"
                   DataSource="@Pods"
                   Size=@TableSize.Small Bordered="true"
                   Total="_total"
                   @bind-PageIndex="_pageIndex"
                   @bind-PageSize="_pageSize"
                   @bind-SelectedRows="selectedRows"
                   Loading="_loading"
                   OnChange="OnChange">
                <Selection Key="@(context.Name())" />
                <AntDesign.Column Field="@context.Name()" Title="name" />
                <AntDesign.Column Field="@context.Namespace()" Title="namespace" />
                 <ActionColumn>
                    <Space>
                        <SpaceItem>
                            <Button Danger OnClick="() => Delete(context.Metadata.Uid)">Delete</Button>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>
        }
        </Body>
    </ChildContent>

</Card>
