@page "/LessonIndex"


<GridRow>
    <GridCol Span="6">
        <div class="mb-2">
            <a style="cursor: pointer" @onclick="@(() => AddCommand("kubectl get pods "))">kubectl get pods </a>
            <br>
            <Paragraph>
                <Text>Ant Design</Text>
                <br/>
                <Text Type="secondary">Ant Design</Text>
                <br/>
                <Text Type="success">Ant Design</Text>
                <br/>
                <Text Type="warning">Ant Design</Text>
                <br/>
                <Text Type="danger">Ant Design</Text>
                <br/>
                <Text Disabled>Ant Design</Text>
                <br/>
                <Text Mark>Ant Design</Text>
                <br/>
                <Text Code>Ant Design</Text>
                <br/>
                <Text Keyboard>Ant Design</Text>
                <br/>
                <Text Underline>Ant Design</Text>
                <br/>
                <Text Delete>Ant Design</Text>
                <br/>
                <Text Strong>Ant Design</Text>
                Single line code blocks can be copied by default
                copy me

                It can also be disabled
                copying disabled

                Execute a command per click
                ls -lh

                Send Ctrl+c before execute
                Run a blocking command: sleep 1d

                End it and run another: whoami

                Copy multiline code block
                uname -r
                pwd
                Execute multiline code block
                uname -r
                pwd
                Execute multiline code block with Ctrl+c
                Run a blocking command: sleep 1d

                End it and run others:

                uname -r
                whoami
            </Paragraph>
            <br>
        </div>
        <Pagination Simple PageIndex="1" Total="50"></Pagination>
    </GridCol>
    <GridCol Span="18">

        <Xterm
            @ref="_terminal"
            Options="_options"
            OnFirstRender="@OnFirstRender"/>
    </GridCol>
</GridRow>
