<Popconfirm Title="Sure to delete?"
            OnConfirm="() => DeletePod(PodItem)"
            OkText="Yes"
            CancelText="No">
    <a>删除</a>
</Popconfirm>
<a onclick="@(() => OnPodLogClick(PodItem))">日志</a>

@if (Enable)
{
    <DropdownButton>
        <Overlay>
            <Menu>
                <MenuItem Key="1" OnClick="@(() => OnAnalyzeClick(PodItem))">故障分析</MenuItem>
                <MenuItem Key="2" OnClick="@(() => OnSecurityClick(PodItem))">安全检测</MenuItem>
            </Menu>
        </Overlay>
        <Unbound>
            AI智能
        </Unbound>
    </DropdownButton>
}
