@using BlazorApp.Pages.Common
@using k8s.Models
<ShareMenuItem T="V1Pod" Item="PodItem" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnPodLogClick(PodItem))">日志</MenuItem>
        <MenuItem OnClick="@(() => OnPodExecClick(PodItem))">Exec</MenuItem>
    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnPodLogClick(PodItem))">日志</Button>
        <Button OnClick="@(() => OnPodExecClick(PodItem))">Exec</Button>
    }
</ShareMenuItem>
