@using Extension
@inherits FeedbackComponent<k8s.Models.V1Pod, bool>
<Skeleton Active="true" Loading="@_loading">
    <Card >
        <Body>
        @((MarkupString)Advice.ToHtmlDisplay())
        </Body>
    </Card>
</Skeleton>
