<Popconfirm Title="Sure to delete?"
            OnConfirm="() => DeletePod(PodItem)"
            OkText="Yes"
            CancelText="No">
    <a>删除</a>
</Popconfirm>
<a onclick="@(() => OnPodLogClick(PodItem))">日志</a>
<a onclick="@(() => OnPodAnalyzeClick(PodItem))">分析</a>
