@using BlazorApp.Pages.Common
@using k8s.Models
@if (MenuMode == MenuMode.Vertical)
{
    <Dropdown >
        <Overlay >
            <Menu >
                <ShareMenuItem T="V1ConfigMap" Item="Item" MenuMode="MenuMode"></ShareMenuItem>
                <MenuItem >
                    <Popconfirm Title="确定删除吗"
                                OnConfirm="@(() => OnDeleteClick(Item))"
                                OkText="Yes"
                                CancelText="No">
                        删除
                    </Popconfirm>
                </MenuItem>
            </Menu>
        </Overlay>
        <ChildContent>
            <Button>操作 <Icon Type="down"/></Button>
        </ChildContent>
    </Dropdown>
}
@if (MenuMode == MenuMode.Horizontal)
{
    <Alert Type="@AlertType.Success">
        <ShareMenuItem T="V1ConfigMap" Item="Item" MenuMode="MenuMode"></ShareMenuItem>
    </Alert>
}
