@using BlazorApp.Pages.Common
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<ShareMenuItem T="V1PriorityClass" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnCancelDefaultClick(Item))">CancelDefault</MenuItem>

    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnCancelDefaultClick(Item))">CancelDefault</Button>
    }
</ShareMenuItem>
