@using BlazorApp.Pages.Common
@using k8s.Models
<ShareMenuItem T="V1ReplicaSet" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnScaleClick(Item))">Scale</MenuItem>
        <MenuItem >
            <Popconfirm Title="确定删除吗"
                        OnConfirm="@(() => OnReplicaSetDeleteClick(Item))"
                        OkText="Yes"
                        CancelText="No">
                删除
            </Popconfirm>
        </MenuItem>
    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnScaleClick(Item))">Scale</Button>
    }
</ShareMenuItem>
