@page "/ChatHubPage"
@using k8s.Models
@using BlazorApp.Pages.Common
<h3>ChatHubPage</h3>

<div class="row">
    @if (_itemList.Count > 0)
    {
        foreach (var p in _itemList.Get())
        {
            <hr/>
            @p.Metadata.Namespace()
            <span>/</span>
            @p.Metadata.Name
            <br/>
            @p.Metadata.CreationTimestamp
            <br/>
            @p.Spec.Containers[0].Image
        }
    }

    <ResourceWatcher OnResourceChanged="OnResourceChanged" T="V1Pod"></ResourceWatcher>
</div>
