@page "/Counter"
<h3>Counter</h3>


<h1>Counter</h1>

<p>Current Name: @KubeService.Name()</p>
<p>Current version: @KubeService.Version()</p>
<p>Current count: @currentCount</p>

@foreach (var ns in KubeService.ListNs())
{
    <li>@ns</li>
}
<Button Type="primary" OnClick="IncrementCount">Click me</Button>
