@page "/NodeList"
@using k8s.Models
@using Extensions.k8s
@using ui.Pages.Pod
@if (_nodes == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    foreach (var node in _nodes.Items)
    {
        <Card Hoverable Title=@node.Metadata.Name>
            <Extra>
                <Button OnClick="@(() => OpenComponent(node, _pods.PodListInNode(node.Name()),events.Items))" Type="primary">详细</Button>
            </Extra>
            <CardTabs>
                <Tabs DefaultActiveKey="1">
                    <TabPane Key="1">
                        <TabTemplate>基本信息</TabTemplate>
                        <ChildContent>
                            <NodeSumView Node=@node></NodeSumView>
                        </ChildContent>
                    </TabPane>
                    <TabPane Key="2">
                        <TabTemplate>Pod状态</TabTemplate>
                        <ChildContent>
                            <PodSumView NodeName=@node.Name() Pods=@_pods.PodListInNode(node.Name())></PodSumView>
                        </ChildContent>
                    </TabPane>
                    <TabPane Key="3">
                        <TabTemplate>实时状态</TabTemplate>
                        <ChildContent>
                            cpu\内存\存储
                        </ChildContent>
                    </TabPane>
                </Tabs>
            </CardTabs>

            <ActionTemplate>
                <CardAction>
                    <Icon Type="setting"/>
                </CardAction>
                <CardAction>
                    <Icon Type="edit"/>
                </CardAction>
                <CardAction>
                    <Icon Type="ellipsis"/>
                </CardAction>
            </ActionTemplate>
        </Card>
    }
}
