@using BlazorApp.Pages.Common
@using System.Text
@if (Data is { Count: > 0 })
{
    <Divider Orientation="left" Style="font-weight:bold">@Title</Divider>
    <Tabs Animated >
        @foreach (var (key, value) in Data)
        {
            <TabPane Tab="@key" Key="@key" >
                <div style="height: 500px">
                    <MonacoView Item="@(Encoding.Default.GetString(value))"></MonacoView>
                </div>
            </TabPane>
        }
    </Tabs>
}

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public IDictionary<string, byte[]> Data { get; set; }
}
