@page "/ai/chatDeploy"
<GridRow>
    <GridCol Span="6">

        <p> 部署一个nginx应用 </p>
        <p> 请给我一套k8s部署yaml，名称为nginx，可以通过ingress访问，域名为www.nginx.com，并使用```yaml ```包裹起来 </p>
        <p>请给我一套k8s部署yaml，名称为nginx，可以通过ingress访问 </p>

    </GridCol>
    <GridCol Span="6">
        <TextArea Bordered AutoSize MinRows="20" @bind-Value="@txtValue"  ></TextArea>

        <Button OnClick="ChatBtnClicked">提交</Button>
        <br/>
        <br/>
    </GridCol>
    <GridCol Span="12">
        <TextArea Bordered AutoSize MinRows="20" Value=@YamlAdvice></TextArea>
        <Button OnClick="ChatBtnClicked">应用</Button>
    </GridCol>
</GridRow>
<GridRow>
    <GridCol Span="24">
        <Card Title="原始返回">
            222 @Advice
        </Card>

    </GridCol>
</GridRow>
@* <Button OnClick="async () => await ChatBtnClicked()">提交</Button> *@
