
.chat-container {
    width: calc(80% - 200px);
    margin: 20px auto;
    /*border: 1px solid #ccc;*/
    /*border-radius: 10px;*/
    /*overflow: hidden;*/
    height: calc(100vh - 200px);
}

.chat-box {
    padding: 20px;
    height: calc(100vh - 120px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 90%;
    word-wrap: break-word;
}

.message-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.user-message {
    /*background-color: #007bff;*/
    /*color: white;*/
    /*align-self: flex-end;*/
}

.bot-message {
    /*background-color: #f2f2f2;*/
}

.input-box {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    width: calc(100% - 200px);
    max-width: 600px;
}

.input-box input {
    width: calc(100% - 200px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    max-width: 600px;
}

.prompt {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 999;
    bottom: 122px;
}

.prompt ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.prompt button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    padding: 0;
    margin: 0;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-message {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.bottom-bar {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-config {
    position: absolute;
    top: 240px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 120px;
    text-align: center;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}
