
.container {
    width: 200px; /* 设置你想要的宽度 */
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container .card-title {
    width: 150px;
    margin: 5px;
}

.container input {
    margin: 5px;
}

.form-control {
    width: 150px;
}
