<div class="default-node container">


    @foreach (var port in Node.Ports.Where(x => x.Alignment == PortAlignment.Left))
    {
        <PortRenderer @key="port" Port="port" Class="default"/>
    }

    <div class="card-title">Add</div>
    <input type="number" class="form-control" @bind-value="Node.FirstNumber" placeholder="Number 1"/>
    <input type="number" class="form-control" @bind-value="Node.SecondNumber" placeholder="Number 2"/>

    @foreach (var port in Node.Ports.Where(x => x.Alignment == PortAlignment.Right))
    {
        <PortRenderer @key="port" Port="port" Class="default"/>
    }

</div>

@code {

// This gets filled by the library
    [Parameter] public AddTwoNumbersNode Node { get; set; } = null!;
}
