@inherits BlazorApp.Pages.Common.DrawerPageBase<k8s.Models.V1Deployment>

@if (Diagram != null)
{
    <div class="diagram-container">
        <CascadingValue Value="Diagram">
            <DiagramCanvas>
                <Widgets>
                    <GridWidget Size="20" Mode="GridMode.Line" ZoomThreshold="0.5"></GridWidget>
                </Widgets>
            </DiagramCanvas>
        </CascadingValue>
    </div>
}
