.diagram-container {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 10px);
    border: 1px solid black; /* Just visual */
}

::deep .default-node {
    width: 200px;
!important
}
