
.wrap {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.time-ago {
    position: absolute;
    bottom: -10px;
    right: 5px;
    width: 60px;
    height: 20px;
    font-size: 10px;
    background-color: #CCD6DD;
    border-radius: 5px;
}

.time-ago .center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.long-text {
    width: 200px; /* 设置文本框的宽度 */
    height: 20px; /* 设置文本框的高度 */

    white-space: nowrap; /* 让文本在一行内显示 */
    overflow: hidden; /* 隐藏超出容器的部分 */
    text-overflow: ellipsis; /* 当文本溢出时显示省略号 */
    cursor: pointer; /* 鼠标样式为手型 */
    vertical-align: top; /* 垂直从顶部显示文本 */
}

.long-text:hover {
    white-space: normal; /* 允许文本折行 */
    overflow: visible; /* 显示全部文本 */
    text-overflow: clip; /* 不显示省略号 */
}
