@page "/PodDiagram"
@page "/PodDiagram/{PodName}"
@if (Diagram != null)
{
    <div class="diagram-container">
        <CascadingValue Value="Diagram">
            <DiagramCanvas>
            </DiagramCanvas>
        </CascadingValue>
    </div>
}
