@page "/PodDiagram"
@page "/PodDiagram/{PodName}"
@inherits BlazorApp.Pages.Common.DrawerPageBase<k8s.Models.V1Pod>

@if (Diagram != null)
{
    <div class="diagram-container">
        <CascadingValue Value="Diagram">
            <DiagramCanvas>
            </DiagramCanvas>
        </CascadingValue>
    </div>
}
