@using BlazorApp.Pages.Common.Html
@if (Annotations is { Count: > 0 })
{
    <HTableColumn Title=@L["Annotations"] ExplainField="@ExplainField">
        @foreach (var label in Annotations)
        {
            <Paragraph >
                <Text Code Copyable>
                    <span >@label.Key = @label.Value</span>
                </Text>
            </Paragraph>
        }
    </HTableColumn>
}
