@if (Annotations != null)
{
    <DescriptionsItem Title="Annotations">
        @foreach (var label in Annotations)
        {
            <Paragraph >
                <Text Code Copyable>
                    <span  >@label.Key = @label.Value</span>
                </Text>
            </Paragraph>
        }
    </DescriptionsItem>
}
