@using Extension
@inherits DrawerPageBase<string>
<Card >
    <p>
        <Alert
            Type="@AlertType.Success">
            kubectl describe @_resource
        </Alert>
    </p>
    <div style="background-color: #012B36;color: #839496;">
        <p style="margin: 15px">
            @((MarkupString)_result.ToHtmlDisplay())
        </p>
    </div>
</Card>
