@using Extension
@inherits DrawerPageBase<string>
<Card >
    <p>
        <Alert
            Type="@AlertType.Success">
            kubectl @_command
        </Alert>
    </p>

    <div style="background-color: #012B36;color: #839496;">
        <p style="margin: 15px; word-wrap: break-word;overflow-wrap: break-word;">
            @((MarkupString)_result.ToHtmlDisplayNoMarkdown())
        </p>
    </div>
</Card>
