@page "/KubectExplainView"
@using Extension
@inherits DrawerPageBase<string>


<Divider>@Field</Divider>
<Card Title="k8s output">
    <p>
        @((MarkupString)_result.ToHtmlDisplay())
    </p>
</Card>
@if (!string.IsNullOrEmpty(_resultCn))
{
    <Card Title="@(AiService.Name() + "Translation")">
        <p>
            @((MarkupString)_resultCn.ToHtmlDisplay())
        </p>
    </Card>
}
