@page "/KubectExplainView"
@using Extension

<Card  Title="Kubectl Explain" Style="min-width:700px">
    <Body>
    <p>@Field</p>
    <p>
        @((MarkupString)Result.ToHtmlDisplay())
    </p>
    </Body>
</Card>
