@using Extension
@using k8s.Models
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Utils
@inherits BlazorApp.Pages.Common.PageBase

@if (ManagedFields is { Count: > 0 })
{
    <HTableColumn Title=@L["ManagedFields"] ExplainField="@ExplainField">
        @foreach (var entry in ManagedFields)
        {
            <div>
                <Tag Color="@RandomColorHelper.RandomColor()">
                    @($"{entry.Manager} {entry.Operation} {entry.Time.GetValueOrDefault().ToLocalTime().ToFriendlyDisplay()}")
                </Tag>
            </div>
        }

    </HTableColumn>
}

@code {



    [Parameter]
    public IList<V1ManagedFieldsEntry> ManagedFields { get; set; }

    [Parameter]
    public string ExplainField { get; set; }

}
