@using Extension
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Utils
@if (Item != null && !Item.ToJson().Equals("{}"))
{
    <HTableColumn Title="@Title" ExplainField="@ExplainField">
        @if (ShowInJson)
        {
            <p >
                 @((MarkupString)PrettyJson())
            </p>
        }
        else
        {
            <Tag Color=@RandomColorHelper.RandomColor() OnClick="OnTagClick">
                @Item
            </Tag>
        }
    </HTableColumn>
}
