@using Extension
@using BlazorApp.Utils
@if (Item != null && !Item.ToJson().Equals("{}"))
{
    <DescriptionsItem Title="@Title">
        @if (ShowInJson)
        {
            <p >
                 @((MarkupString)PrettyJson())
            </p>
        }
        else
        {
            <Tag Color=@RandomColorHelper.RandomColor() OnClick="OnTagClick">
                @Item
            </Tag>
        }

        <KubectlExplainButton Field="@ExplainField"></KubectlExplainButton>
    </DescriptionsItem>
}
