@using k8s
@using BlazorApp.Utils
@if (Item != null && !KubernetesJson.Serialize(Item).Equals("{}"))
{
    <DescriptionsItem Title="@Title">
        @if (ShowInJson)
        {
            <p >
                @KubernetesJson.Serialize(Item)
            </p>
        }
        else
        {
            <Tag Color=@RandomColorHelper.RandomColor() OnClick="OnTagClick">
                @Item
            </Tag>
        }

        <KubectlExplainButton Field="@ExplainField"></KubectlExplainButton>
    </DescriptionsItem>
}
