@using Extension
@using BlazorApp.Pages.Common.Html
@using BlazorApp.Utils
@inherits BlazorApp.Pages.Common.PageBase

@if (ChildContent != null || (Item != null && !Item.ToJson().Equals("{}")))
{
    <HTableColumn Title="@Title" ExplainField="@ExplainField">

        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @if (ShowInJson)
            {
                <p >
                    @((MarkupString)PrettyJson())
                </p>
            }
            else
            {
                <Tag Color=@RandomColorHelper.RandomColor() OnClick="OnTagClick">
                    @Item
                </Tag>
            }
        }

    </HTableColumn>
}
