@using BlazorApp.Pages.Common.Html
@using Extension
@inherits PageBase

@if (Item != null && !Item.ToJson().Equals("{}"))
{
    <HTableColumn Title="@Title" ExplainField="@ExplainField">

        @ChildContent
        @if (ShowInJson)
        {
            <p>
                @((MarkupString)PrettyJson())
            </p>
        }
        else
        {
            <ColorfulTag OnClick="OnTagClick">
                @Item
            </ColorfulTag>
        }
    </HTableColumn>
}
