@using BlazorApp.Pages.Common.Html
@using BlazorApp.Utils
@typeparam            T
@if (Items != null)
{
    <HTableColumn Title=@Title>
        @foreach (var p in Items)
        {
            @if (EveryItemOneRow)
            {
                <div>
                    <Tag Color=@RandomColorHelper.RandomColor()>
                        <span>@($"{p.Key}={GetSumValue(p.Value)}")</span>
                    </Tag>
                </div>
            }
            else
            {
                <Tag Color=@RandomColorHelper.RandomColor()>
                    <span>@($"{p.Key}={GetSumValue(p.Value)}")</span>
                </Tag>
            }
        }
        <KubectlExplainButton Field=@ExplainField></KubectlExplainButton>
    </HTableColumn>
}
