@inherits PageBase
@using BlazorApp.Pages.Common.Html
@typeparam            T
@if (Items != null)
{
    <HTableColumn Title=@Title ExplainField=@ExplainField>
        @foreach (var p in Items)
        {
            @if (EveryItemOneRow)
            {
                <div>
                    <ColorfulTag>
                        <span>@($"{p.Key}={GetSumValue(p.Value)}")</span>
                    </ColorfulTag>
                </div>
            }
            else
            {
                <ColorfulTag>
                    <span>@($"{p.Key}={GetSumValue(p.Value)}")</span>
                </ColorfulTag>
            }
        }
    </HTableColumn>
}
