@using BlazorApp.Pages.Common.Html
@inherits PageBase

@if (Item != null)
{
    <HTableColumn Title="@Title" ExplainField="@ExplainField">

        @* 有子内容直接展示，忽略格式化输出 *@
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @if (ShowInJson)
            {
                <p>
                    @((MarkupString)PrettyJson())
                </p>
            }
            else
            {
                <ColorfulTag OnClick="OnTagClick">
                    @($"{Item}")
                </ColorfulTag>
            }
        }


    </HTableColumn>
}
