@inherits FeedbackComponent<k8s.Models.V1Deployment, bool>
<Skeleton Active="true" Loading="@_loading">
    <Card >
        <Body>
        @((MarkupString)Advice)
        </Body>
    </Card>
</Skeleton>
