@using BlazorApp.Pages.Common
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<ShareMenuItem T="V1Deployment" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnRestartClick(Item))">Restart</MenuItem>
        <MenuItem OnClick="@(() => OnScaleClick(Item))">Scale</MenuItem>

    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnRestartClick(Item))">Restart</Button>
        <Button OnClick="@(() => OnScaleClick(Item))">Scale</Button>
    }
</ShareMenuItem>
