@using Extension
@using k8s.Models
@if (_showData is { Count: > 0 })
{
    @if (FullView)
    {
        <div style="text-align: center">@(_lastValue.Format == ResourceQuantity.SuffixFormat.BinarySI ? "Mi (1024Mi=1Gi)" : "m (1000m=1core)")</div>
        <Area Data="@_showData" Config="_areaConfig"></Area>
    }
    else
    {
        <div style="position:relative;width: 100px">
            <div style="position:absolute;left:0;top:0;z-index: 100000;text-align: center;align-content: center;color: gray">
                @_lastValue.Humanize()
            </div>
            <div style="position:absolute;left:0;top:0;z-index: 1;">
                <TinyArea Data="@_showData" Config="_tinyAreaConfig"></TinyArea>
            </div>
        </div>
    }
}
