@using BlazorApp.Pages.Common
@using k8s.Models
@inherits BlazorApp.Pages.Common.PageBase

<ShareMenuItem T="V1StorageClass" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnDefaultClick(Item))">@L["SetDefault"]</MenuItem>
    }
    @if (MenuMode == MenuMode.Horizontal)
    {
        <Button OnClick="@(() => OnDefaultClick(Item))">@L["SetDefault"]</Button>
    }
</ShareMenuItem>
