@using BlazorApp.Pages.Common
@using k8s.Models
<ShareMenuItem T="V1StorageClass" Item="Item" MenuMode="MenuMode">
    @if (MenuMode == MenuMode.Vertical)
    {
        <MenuItem OnClick="@(() => OnDefaultClick(Item))">SetDefault</MenuItem>

    }
    @if (MenuMode == MenuMode.Horizontal)
    {
            <Button OnClick="@(() => OnDefaultClick(Item))">SetDefault</Button>
    }
</ShareMenuItem>
